<a href="<%= lastPage %>">Back</a> 

<h2>All Posts</h2>

<% posts.forEach(function(post) { %>
<div class="well">
	<div class="post"><img class="postImg" src="<%= post.image %>"></div>
	<div><%= post.caption %></div>
	<div><%= post.description %></div>
	<a href="/posts/<%= post.id %>/comments" class="btn btn-info">Comments</a>
</div>
<% }); %>

